.Rule {
  display: inline-block;
  margin-bottom: 10px;
  &__Item {
    margin-left: 10px;
  }
  &__PreCondition {
    width: 80px;
  }
  &__Option {
    width: 120px;
  }
  &__Value {
    width: 120px;
  }
  &__Condition {
    width: 100px;
  }
}
